# -------------------------
# Server
# -------------------------
SERVER_PORT=8080

# -------------------------
# Database
# -------------------------
DB_URL=jdbc:mysql://localhost:3306/asset_app?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=UTC
DB_USERNAME=root
DB_PASSWORD=root

# -------------------------
# JPA / Hibernate
# -------------------------
JPA_DDL_AUTO=update
JPA_SHOW_SQL=true
HIBERNATE_FORMAT_SQL=true
JPA_OPEN_IN_VIEW=false

# -------------------------
# Logging
# -------------------------
SECURITY_LOG_LEVEL=DEBUG

# -------------------------
# JWT
# -------------------------
JWT_SECRET=MDEyMzQ1Njc4OWFiY2RlZjAxMjM0NTY3ODlhYmNkZWY=
JWT_EXPIRATION_MS=86400000

# -------------------------
# Email Configuration - REPLACE THESE VALUES
# -------------------------
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=bhagyashrikumbhar27@gmail.com
MAIL_PASSWORD=hchfjkoipcxeeadh
MAIL_SMTP_AUTH=true
MAIL_STARTTLS_ENABLE=true
MAIL_SSL_TRUST=smtp.gmail.com
MAIL_DEBUG=false

# -------------------------
# App Email
# -------------------------
APP_EMAIL_FROM=bhagyashrikumbhar27@gmail.com
APP_EMAIL_ADMIN=bhagyashrikumbhar27@gmail.com